.container {
  width: 850px;
  margin: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
}

.grid-item {
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: cover;

  cursor: pointer;
}

.grid-item:hover {
  opacity: 0.5;
}

.buttons-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
